<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>College Student Management System</title>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
 </head>
<body>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<nav class="navbar navbar-expand-sm .bg-info navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" th:href="@{/index}">College Student Management System</a>

  <!-- Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
 <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/courses}">Course Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/results}">Score Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/teachers}">Teacher Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/elementcourses}">Course Element Information</a>
       
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/departments}">List of Departments</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/majors}">List of Majors</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/Updownload}">Files</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/fees}">Fees Info</a>
       </li>
    </ul>
  </div>
</nav>
<br>
<br>



    <div class ="container">
   <div class = "row">
        <h1>List Of Fees </h1>
        </div>
        <div class = "row">
   <div class = "col-lg-3">
      <a th:href = "@{/fees/new}" class = "btn btn-primary btn-sm mb-3"> Add Major</a> 
    </div>
    
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
             <tr>
                 <th> fee ID</th>
                 <th> Name</th>
                 <th> fee </th>
                 <th> fee Description</th>
                 <th> Actions </th>
             </tr>
        </thead>
        <tbody>
             <tr th:each = "major: ${fees}">
			    <td th:text = "${fee.feeid}"></td>
			    <td th:text = "${fee.feeNAME}"></td>
			    <td th:text = "${fee.feePRICE}"></td>
			    <td th:text = "${fee.feeCOMMENT}"></td>
			    
			    <td>
						<a th:href = "@{/majors/edit/{feeid}(feeid=${fee.feeid})}"
						 class = "btn btn-primary">Update</a>
						 
						 <a th:href = "@{/fees/{feeid}(feeid=${fee.feeid})}"
						 class = "btn btn-danger">Delete</a>
						
						
						 </td>
    
             </tr>
        </tbody>
    </table>
</div>
        </div>
</body>
</html>