<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>College Student Management System</title>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
 </head>
<body>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<nav class="navbar navbar-expand-sm .bg-info navbar-light">
  <!-- Brand -->
   <a class="navbar-brand" th:href="@{/index}">College Student Management System</a>

  <!-- Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
 <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/courses}">Course Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/results}">Score Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/teachers}">Teacher Management</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" th:href="@{/elementcourses}">Course Element Information</a>
       
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/departments}">List of Departments</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/majors}">List of Majors</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/Updownload}">Files</a>
       </li>
    </ul>
  </div>
</nav>
<br>
<br>


    <div class ="container">
   <div class = "row">
        <h1> List Students </h1>
    </div>
    
    <div class= "form-group">

  <form th:action="@{/student/search}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search by Student Name & Student ID" size="35" >
    <button type="submit" class="btn btn-info btn-sm mb-3" >Search</button>
  <button type="submit" class="btn btn-warning btn-sm mb-3" >Reset</button>   
  </form>       
   </div>
    
    
    <div class = "row">
   <div class = "col-lg-3">
      <a th:href = "@{/students/new}" class = "btn btn-primary btn-sm mb-3"> Add Student</a>
             
   </div>
    
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
             <tr>
                 <th>  Student ID </th>
                 <th>  Student Passport Number </th>
                 <th>  Student Name  </th>
                 <th>  Student Birth Date </th>
                 <th>  Student Gender </th>
                 <th>  Student Email </th>
                 <th>  Student Password </th>
                 <th>  Major </th>
                 <th>  Actions </th>
             </tr>
        </thead>
        <tbody>
             	<tr th:each = "student: ${students}">
			    <td th:text = "${student.studentid}"></td>
			    <td th:text = "${student.studentNUMBER}"></td>
			    <td th:text = "${student.studentNAME}"></td>
			    <td th:text = "${student.studentBIRTH}"></td>
			    <td th:text = "${student.studentGENDER}"></td>
			    <td th:text = "${student.studentEMAIL}"></td>
			    <td th:text = "${student.studentPASSWORD}"></td>
			    <td th:text = "${student.major.majorNAME}"></td> 
			    <td>
						<a th:href = "@{/students/edit/{id}(id=${student.studentid})}"
						 class = "btn btn-primary">Update</a>
						 
						 <a th:href = "@{/students/{id}(id=${student.studentid})}"
						 class = "btn btn-danger">Delete</a>
						 </td>
             </tr>
             
        </tbody>
    </table>
     </div>
      </div>
        
</body>
</html>